In [1]:
import pandas as pd
import numpy as np

In [5]:
# Median based anomaly detection
x = pd.Series([2.1, 2.3, 4.5, 2.2, 2.4])
median = np.median(x)
threshold = 2
outliers = []

for item in x:
    if abs(item - median) > threshold:
        outliers.append(item)
print(outliers)

[4.5]

In [6]:
# Mean based anomaly detection
x = pd.Series([2.1, 2.3, 4.5, 2.2, 2.4])
mean = np.mean(x)
std = np.std(x)
outliers = []

for item in x: # check if item is lower than lower bound / higher than upper bound
    if (item < mean - std) or (item > mean + std):
        outliers.append(item)
print(outliers)

[4.5]

In [8]:
# Z-score based anomaly detection
x = pd.Series([2.1, 2.3, 4.5, 2.2, 2.4])
mean = np.mean(x)
std = np.std(x)
outliers = []

for item in x:
    z_score = (item - mean) / std
    if z_score > 1.5:
        outliers.append(item)
print(outliers)

[4.5]

In [11]:
# IQR (Q3 - Q1)
x = pd.Series([2.1, 2.3, 4.5, 2.2, 2.5])

Q1, Q3 = np.percentile(x, [25, 75])
IQR = Q3 - Q1
outliers = []

for item in x:
    if item < (Q1-1.5*IQR) or item > (Q3+1.5*IQR):
        outliers.append(item)
print(outliers)

[4.5]

In [ ]:
# Dealing with Missing Values
# Finding missing values
data.isnull()
data.isnull().sum() # total of missing values per column

# deleting rows w/ missing info
data.dropna(inplace=True)

# replacing missing values with mean/median/mode
data.fillna(data.mean(), inplace=True)
data['age'].fillna(data['age'].mean()[0], inplace=True) # specific cell

In [12]:
import re

In [18]:
txt = "python is my favourite programming language."
re.findall("python", txt)
match_obj = re.search("fa", txt)
match_obj.span() # find location of match
re.sub(pattern="python", repl="golang", string=txt)

'golang is my favourite programming language.'

In [3]:
# feature scaling — normalisation
df = {
    "age": [28, 27, 30, 36, 27],
    "salary": [10000, 15000, 11000, 11000, 13000]
}
df = pd.DataFrame.from_dict(df)
df

   age  salary
0   28   10000
1   27   15000
2   30   11000
3   36   11000
4   27   13000

In [4]:
df = (df - df.min()) / (df.max() - df.min())
df

        age  salary
0  0.111111     0.0
1  0.000000     1.0
2  0.333333     0.2
3  1.000000     0.2
4  0.000000     0.6

In [5]:
# feature scaling — standardisation
df = (df - df.mean()) / df.std()
print(df)
print(df.std())

        age  salary
0 -0.423109    -1.0
1 -0.687552     1.5
2  0.105777    -0.5
3  1.692435    -0.5
4 -0.687552     0.5
age       1.0
salary    1.0
dtype: float64